body{
    width: initial;
}
.container{
    width: 70%;
    height: 620px;
    margin:0px 0px 0px 200px;
    background-color: #f8fdfd;
    border-radius: 5px 5px 5px 5px;
}
.up{
    width: 70%;
    height: 50px;
    background-color: #51bfd0;
    margin:20px 0px 0px 200px;
}
h3{
   padding-left: 2px;
    color: #f8fdfd;
    position: absolute;
   margin-top: 15px;
   margin-left: 200px;  
}
.disconnexion a{
   
   background-color: #3addd6;
   border-radius: 5px/2px;
   padding: 3px;
   text-decoration: none;
   color:#042425;
}
.disconnexion{
    margin: 15px 0px 10px 770px;
    position: absolute;
 
}