
/*right*/

.bloc-right{
    width: 50%;
     height: 500px;
     background-color: white;
     margin:20px 0px 0px 300px;
     border-radius: 5px 5px 5px 5px;
 }
 .tete{
     width: initial;
     height: 60px;
     margin-top: 10px;
     border-radius: 5px 5px 0px 0px;
 }
 .h5 p{
   margin-left: 20px;
    position: absolute;
  }
 .p{
     font-size: 20px; 
     position: absolute;
     margin-top: 20px;
 }
 .left{
     width: 50%;
     height: 530px;
     float: left;
 }
 .text input{
     width: 90%;
     height: 25px;
     padding: 5px;
     border-radius: 5px 5px 5px 5px;
     margin:-10px 0px 0px 10px; 
 }
 .text p{
     margin-top:2px;
     margin-left: 15px;
     font-size: 12px;
 }
 .choix p{
     width: 30px;
     float: left;
     margin: 5px 0px 0px 20px;
 }
 .choix .ok1{
     width: 30%;
     height: 30px;
     border-radius: 5px 5px 5px 5px;
     margin: 5px 22px 0px 0px;
     float: right;
     background-color: teal; 
 }
 .formulaire .ok2{
     width: 30%;
     height: 35px;
     border-radius: 5px 5px 5px 5px;
     background-color: teal; 
     margin: 10px 0px 0px 130px;
     
 }
 .right{
     width: 30%;
     height: 300px;
     float: left;
 }
 .right img{
     width: 60%;
     height: 100px;
     margin: 20px 0px 0px 40px;
     border-radius:400px;
     border: 2px solid rgb(55, 124, 214);
     padding: 2px;
 }
 .right p{
   margin-left: 50px;
 }
 
 
 